---
import { Icon } from 'astro-icon'
import Layout from '../layouts/Layout.astro'
import Avatar from '../components/Avatar.astro'
import { techLinks } from './data.json'

const stateItems = [
  { name: 'lovelliu.me', icon: 'pepicons:house' },
  { name: 'Front-End Engineer', icon: 'mdi:briefcase-account-outline' },
  { name: 'China', icon: 'uil:location-point' },
]

const socialItems = [
  { icon: 'ri:github-line', link: 'https://github.com/lovelliu' },
  { icon: 'ri:telegram-line', link: 'https://t.me/lovelliu_6' },
  { icon: 'ri:zhihu-fill', link: 'https://www.zhihu.com/people/ke-le-74-10-95' },
]
---

<Layout title="Lovell Liu">
  <div
    class="flex flex-col-reverse items-center md:flex-row w-full transition-all" slot="headline"
  >
    <div class="text-center md:w-3/5 md:text-left">
      <h1>Lovell Liu</h1>
      <p class="text-lg font-serif">
        The only true wisdom is in knowing you know nothing.
      </p>
      <p class="flex gap-4 justify-center md:justify-start">
        {
          stateItems.map(({ name, icon }) => (
              <span>
                <Icon name={icon} />
                {name}
              </span>
          ))
        }
      </p>
      <div>
        {
          socialItems.map(({ icon, link }) => (
            <a
              href={link}
              class="" target="_blank"
              rel="noopener noreferrer"
            >
              <Icon name={icon} />
            </a>
          ))
        }
      </div>
    </div>
    <Avatar />
  </div>
  <Fragment slot="content">
    <p>My tech satck and common tools:</p>
    <p>
      {
        techLinks.map(({ icon, link, title }) => (
          <a
            href={link}
            target="_blank"
            rel="noopener noreferrer"
            title={title}
          >
            <Icon name={icon} />
          </a>
        ))
      }
    </p>
    <p>
      一名正在学习前端的小白，喜欢尝试新技术，敢于折腾一些新鲜的东西，并将该过程进行总结，记录到我个人最喜欢的笔记软件
      <a
        href="https://craft.do"
        class="hover:underline hover:underline-offset-4"
        target="_blank"
        rel="noopener noreferrer"
      >
        Craft
      </a> 中。
    </p>
    <p>
      经常逛一些技术社区，比如 <strong>掘金</strong>、<strong>Medium </strong>等，也时常在<strong> Twitter </strong>上关注一些新技术的动态，偶尔在<strong> Youtube </strong>上看一些技术视频，顺遍纠正下自己的发音<Icon name="twemoji:zany-face" />。
    </p>
    <p>
      技术类的书籍看的比较少，目前只阅读过这几本<Icon name="twemoji:flushed-face" />：<cite>《Professional JavaScript for Web Developers》</cite>、<cite>《Professor Frisby's Mostly Adequate Guide to Functional Programming》</cite>以及最近在看的<cite>《Refactoring UI》</cite>。
    </p>
  </Fragment>
</Layout>

<style>
  [astro-icon^="vscode-icons"] {
    @apply w-6 h-6 m-1.5;
  }

  [astro-icon^="ri"] {
    @apply mr-4 mb-0 text-gray-400 hover:text-gray-500 active:text-gray-600;
  }

  cite {
    font-style:normal;
    font-weight: 500;
    font-size: 0.95rem;
  }
</style>
