---
import Layout from './Layout.astro'
import '../styles/prose.css'

const { frontmatter } = Astro.props
const { title, date, minutesRead } = frontmatter
---

<Layout title={title} isPost>
  <div slot="headline">
    <h1>{title}</h1>
    <p class="text-gray-500 font-serif dark:text-gray-300">
      {date}
      <span class="ml-2">{minutesRead}</span>
    </p>
  </div>
  <slot />
</Layout>

<script>
window.addEventListener('load', () => {
  const headlines = document.querySelectorAll('h2:not([id=toc]), h3')
  const scrollHandler = (entries: IntersectionObserverEntry[]) => {
    entries.forEach((entry) => {
      const id = encodeURIComponent(entry.target.getAttribute('id')!)
      const activeLink = document.querySelector('#toc + ul a.active')
      const link = document.querySelector(`#toc + ul a[href="#${id}"]`)
      if (entry.isIntersecting) {
        activeLink?.classList.remove('active')
        link?.classList.add('active')
      }
    })
  }

  const observer = new IntersectionObserver(scrollHandler, {
    rootMargin: '0% 0px -90% 0px',
  })
  headlines.forEach((headline) => {
    observer.observe(headline)
  })
})
</script>

<style is:global>
  h2:not([id=toc]), h3 {
    scroll-margin-top: 4rem;
  }

  article p {
    font-size: 17.8px;
  }
</style>
