---
import Layout from './Layout.astro'
import '../styles/prose.css'

const { frontmatter } = Astro.props
const { title, date, minutesRead } = frontmatter
---

<Layout title={title} isPost>
  <div slot="headline">
    <h1>{title}</h1>
    <p class="text-gray-500 font-serif dark:text-gray-300">
      {date}
      <span class="ml-2">{minutesRead}</span>
    </p>
  </div>
  <slot />
</Layout>

<script>
const headlines = document.querySelectorAll('h2:not([id=toc]), h3')
const handleScroll = () => {
  const activeLink = document.querySelector('#toc + ul a.active')
  const activeHref = activeLink?.getAttribute('href')
  const filters: { top: number; href: string }[] = []
  let targetHref = ''
  headlines.forEach((headline) => {
    const top = headline.getBoundingClientRect().top - document.documentElement.clientTop
    if (top <= 65)
      filters.push({ top, href: encodeURIComponent(headline.getAttribute('id')!) })
  })

  if (filters.length) {
    const latest = filters.reduce((prev, cur) => {
      return cur.top > prev.top ? cur : prev
    })
    targetHref = latest.href
  }

  if (activeHref !== targetHref) {
    activeLink?.classList.remove('active')
    const targetLink = document.querySelector(`#toc + ul a[href="#${targetHref}"]`)
    targetLink?.classList.add('active')
  }
}
window.addEventListener('scroll', handleScroll)
</script>

<style is:global>
  h2:not([id=toc]), h3 {
    scroll-margin-top: 4rem;
  }
</style>
